.wrapper {
  display: flex;
  flex-direction: row;
}

.user-list {
  /* border: 1px solid green; */
  width: 500px;
}
.username {
  color: blue;
  font-weight: 600;
  font-size: 25px;
}
.useremail {
  color: rgb(0, 0, 77);
  font-weight: 500;
  font-size: 20px;
}
.user-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}

.raiting {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-btn {
  margin: 10px 0;
}

.div-apply {
  margin: -3px 0 0 10px;
  /* padding: -20px -20px; */
  width: 50px;
}
